/* fonts fonts */
.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.rock-3d-regular {
  font-family: "Rock 3D", system-ui;
  font-weight: 400;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    /*background: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5) ), url('bg.png');*/
    background: linear-gradient( rgba(20, 20, 20, 1), rgba(75, 75, 75, 1) );
    /*background-color: rgba(13,21,16,1);*/
    background-repeat: no-repeat;
    /*backdrop-filter: blur(3px);*/
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}
/*
.glass-container{
    height: 520px;
    width: 350px;
    padding: 30px 50px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.089);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    font-family: Lato, sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: 185%;
}
*/

.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 12.5vw;
    margin-right: 2.5vw;
    margin-top: 10vh;
    background: rgba(184, 19, 19, 0);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.002),
                -4px -4px 10px rgba(255, 255, 255, 0.008);
    text-align: center;
}

/*
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #35595f;
}*/

.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;
}

.nav-links li a {
    font-family: "Silkscreen", sans-serif;
    font-size: 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: font-weight 0.3s ease;
}

.nav-links li a:hover{
    text-decoration: line-through;
    color: #ff0000;
}

.active-page{
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 2px #ffffff;
}

.inactive-page{
    font-weight: normal;
    color: rgb(255, 255, 255, 0.5);
    /*text-shadow: 0px 0px 3px #093504;*/
}

/*
.contact-buttons{
    display: flex;
    gap: 10px;
}

.icon-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: rgba(80, 125, 151, 0.02);
    border: none;
    border-radius: 50%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.02),
                -4px -4px 10px rgba(255, 255, 255, 0.08);
    cursor: pointer;
    transition: all 0.3s ease;
}

.icon-btn i {
    font-size: 18px;
    color: #fff;
}

.icon-btn:hover{
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.03),
                -2px -2px 6px rgba(255, 255, 255, 0.05);
    color: #4a90e2;
}

.icon-btn:active{
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.06),
                inset -2px -2px 5px rgba(0, 0, 0, 0.02);
}
*/

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "music project project bio"
        "art project project contact"
        "books blog games sign";
    gap: 5px;
    background-color: #2195f300;
    margin-left: 12.5vw;
    margin-right: 12.5vw;
    margin-top: 2vh;
    height: 70vh;
    transition: 75ms;
    /*box-shadow: 0px 75px 100px 0px rgba(255, 255, 255, 0.7);*/
}
.container > div {
    background-color: rgb(0, 129, 6);
    font-family: "Rock 3D", system-ui;
    font-size: 1.5em;
    color: #ffffff;
    display: grid;
    place-items: end start;
    padding: 5%;
}
/*
.container:has(.music:hover) {
    grid-template-columns: 1.25fr 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1fr 1fr;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.089);

}*/

.container > div.music {
    grid-area: music;
}
.music:hover {
    border: 2px solid rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
}

.container > div.project {
    grid-area: project;
    background: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) ), url('mob.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    align-items: end;
    padding: 0;
}
.project:hover {
    border: 2px solid rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
}

.container > div.bio {
    grid-area: bio;
}
.bio:hover {
    border: 2px solid rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
}

.container > div.art {
    grid-area: art;
}
.art:hover {
    border: 2px solid rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
}

.container > div.contact {
    grid-area: contact;
}
.contact:hover {
    border: 2px solid rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
}

.container > div.books {
    grid-area: books;
}
.books:hover {
    border: 2px solid rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
}

.container > div.blog {
    grid-area: blog;
}
.blog:hover {
    border: 2px solid rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
}

.container > div.games {
    grid-area: games;
}
.games:hover {
    border: 2px solid rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
}

.container > div.sign {
    grid-area: sign;
}
.sign:hover {
    border: 2px solid rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
}

.text-contrast {
    background-color: rgba(37, 37, 37, 0.5);
    width: 100%;
    height: 2em;
    display: flex;
    align-items: center;
    padding-left: 2%;
}